<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head  >
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>new appointment</title>
</head>
<body style="background-color:powderblue;">
<hr> <hr>
	<H1 align="center">Ayurveda</H1>
	<hr> 
<div align="center">
        <h1>Create New Appointment</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${appointment}">
 
            <table border="0" cellpadding="10">
            
            	<tr>
                   
                   <!--  <td><a class="btn btn-primary" th:action="@{/payment}" role="button">Payment</a></td> -->
      <td><a th:href="@{/payment}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Payment</a></td>
      <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
                </tr>
                
                <tr>
                    <td>Patient name:</td>
                    <td><input type="text" th:field="*{patientName}" /></td>
                </tr>
                <tr>
                    <td>Doctor name:</td>
                    <td><input type="text" th:field="*{doctorName}" /></td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td><input type="date" th:field="*{date}" /></td>
                </tr>
                
                <tr>
                    <td>Time:</td>
                    <td><input type="time" th:field="*{time}" /></td>
                </tr>
               
                 <tr>
                    <td>Need prescription?</td>
                    <td><input type="text" th:field="*{prescription}" /></td>
                </tr>
                
               
              
                
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
                
                
            </table>
            
        </form>
    </div>
</body>
</html>