<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Ayurveda</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script src='bootstrap-5.1.0-dist/js/bootstrap.js.map'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <style>
    #abc {
  border: 2px solid blue;
  /* border-radius: 25px; */
  }
    
    </style>
</head>
<body style="background-color:powderblue;">

 <a th:href="@{/}">Homepage</a><hr>

<div class="card" style="max-width: 1500px;color:maroon;">
    <div class="row no-gutters">
        <div class="col-sm-4" style="background: #868e96;">
            <img src="./img/t1.jpg" class="card-img-top h-100" style="width:500px" alt="...">
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                <h5 class="card-title text-success">Shri Ayurvedic Aushadhalay</h5>
            <p class="card-text text-primary"><i> Address: G5MF+RW4, Suvarna Nagaar, Buldana, Maharashtra 443001
Hours: 
Closed ⋅ Opens 8:30AM Sat
</i></p>
            <p class="card-text text-danger">Shri Ayurveda Aushadhalaya in Buldhana is one of the leading businesses in the Ayurvedic Doctors. Also known for Ayurvedic Doctors, Ayurvedic Medicine Shops, Ayurvedic Medicine Retailers-Hamdard, Ayurvedic Medicine Retailers For Acidity, Ayurvedic Medicine Distributors, Ayurvedic Medicine Wholesalers-Baidyanath, Ayurvedic Pain Relief Roll On Dealers, Ayurvedic Medicine Retailers For Joint Pain and much more. Find Address, Contact Number, Reviews & Ratings, Photos, Maps of Shri Ayurveda Aushadhalaya, Buldhana</p>
             <!--    <a href="#" class="btn btn-primary stretched-link">View Profile</a> -->
            </div>
        </div>
    </div>
</div>

<div class="card" style="max-width: 1500px;color:maroon;">
    <div class="row no-gutters">
       
        <div class="col-sm-8">
            <div class="card-body">
           <h5 class="card-title text-success">Shree Ayurved</h5>
            <p class="card-text text-primary"><i> Address: 11 Kishan Kanahiya complex, near bus Stand, Buldana, Maharashtra 443001
Phone: 093709 23635
</i></p>
            <p class="card-text text-danger">Shri Ayurved  in Buldhana is  known for Ayurvedic Doctors, Ayurvedic Medicine Shops, Ayurvedic Medicine Retailers-Hamdard, Ayurvedic Medicine Retailers For Acidity, Ayurvedic Medicine Distributors, Ayurvedic Medicine Wholesalers-Baidyanath, Ayurvedic Pain Relief Roll On Dealers, Ayurvedic Medicine Retailers For Joint Pain and much more. Find Address, Contact Number, Reviews & Ratings, Photos, Maps of Shri Ayurveda Aushadhalaya, Buldhana</p>
             <!--    <a href="#" class="btn btn-primary stretched-link">View Profile</a> -->
            </div>
        </div>
         <div class="col-sm-4" style="background: #868e96;">
            <img src="./img/t2.jpg" class="card-img-top h-100" style="width:500px" alt="...">
        </div>
    </div>
</div>

<div class="card" style="max-width: 1500px;color:maroon;">
    <div class="row no-gutters">
        <div class="col-sm-4" style="background: #868e96;">
            <img src="./img/6-ayurvedic medicine.jpg" class="card-img-top h-100" style="width:500px" alt="...">
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                <h5 class="card-title text-success">aditya Ayurveda</h5>
            <p class="card-text text-primary"><i> Address: Samta Nagaar, Buldana, Maharashtra 443001
Hours: 
Closed ⋅ Opens 8:30AM Sat
</i></p>
            <p class="card-text text-danger">aditya Ayurveda is  Ayurvedic Medicine Retailers-Hamdard, Ayurvedic Medicine Retailers For Acidity, Ayurvedic Medicine Distributors, Ayurvedic Medicine Wholesalers-Baidyanath, Ayurvedic Pain Relief Roll On Dealers, Ayurvedic Medicine Retailers For Joint Pain and much more. Find Address, Contact Number, Reviews & Ratings, Photos, Maps of Shri Ayurveda Aushadhalaya, Buldhana</p>
             <!--    <a href="#" class="btn btn-primary stretched-link">View Profile</a> -->
            </div>
        </div>
    </div>
</div>

<div class="card" style="max-width: 1500px;color:maroon;">
    <div class="row no-gutters">
       
        <div class="col-sm-8">
            <div class="card-body">
            <h5 class="card-title text-success">The National Ayurveda</h5>
            <p class="card-text text-primary"><i> Address: G5MF+RW4, Suvarna Nagaar, Buldana, Maharashtra 443001
Hours: 
Closed ⋅ Opens 8:30AM Sat
</i></p>
            <p class="card-text text-danger">The National Ayurveda in Buldhana is Providing Ayurvedic Panchakarma,  Body Massage, Sirodhara, Kativasti, Januvasti, Greeva Vasti, Nasya Karma, Udwarthana, Leech Application Steam Bath</p>
             <!--    <a href="#" class="btn btn-primary stretched-link">View Profile</a> -->
            </div>
        </div>
         <div class="col-sm-4" style="background: #868e96;">
            <img src="./img/7-ayurvedic medicine.jpg" class="card-img-top h-100" style="width:500px" alt="...">
        </div>
    </div>
</div>


<div class="card" style="max-width: 1500px;color:maroon;">
    <div class="row no-gutters">
        <div class="col-sm-4" style="background: #868e96;">
            <img src="./img/5-ayurvedic medicine.jpg" class="card-img-top h-100" style="width:500px" alt="...">
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                <h5 class="card-title text-success">Sri Sri Ayurveda</h5>
            <p class="card-text text-primary"><i> Address:Rampeth Nagar, kharghar, Maharashtra 410210
Hours: 
Closed ⋅ Opens 8:30AM Sat
</i></p>
            <p class="card-text text-danger">Sri Sri Ayurveda Hospital is a multispecialty Ayurvedic Hospital, which is ISO:9001 certified and NABH accredited, located in Bangalore, India. The hospital is truly world-class with modern state of the art diagnostic facilities that offers 268 beds for patients, consulted by highly experienced doctors and attended with the support of our trained and proficient staff.</p>
             <!--    <a href="#" class="btn btn-primary stretched-link">View Profile</a> -->
            </div>
        </div>
    </div>
</div>

<div class="card" style="max-width: 1500px;color:maroon;">
    <div class="row no-gutters">
       
        <div class="col-sm-8">
            <div class="card-body">
          <h5 class="card-title text-success">Patanjali Ayurved Hospital</h5>
            <p class="card-text text-primary"><i> Address: sinha chowk mahavir, Maharashtra 434122
Hours: 
Closed ⋅ Opens 8:30AM Sat
</i></p>
            <p class="card-text text-danger">Patanjali Ayurved Hospital propagate Pranayam as a “free” medicine for the treatment of diseases round the globe, through in-depth research in accordance with the parameters of modern medical science, so that the rich and poor may avail its benefits in order to attain sound health.</p>
             <!--    <a href="#" class="btn btn-primary stretched-link">View Profile</a> -->
            </div>
        </div>
         <div class="col-sm-4" style="background: #868e96;">
            <img src="./img/10-Ayurvedic_Medicine.jpg" class="card-img-top h-100" style="width:500px" alt="...">
        </div>
    </div>
</div>

<div class="card" style="max-width: 1500px;color:maroon;">
    <div class="row no-gutters">
        <div class="col-sm-4" style="background: #868e96;">
            <img src="./img/4-ayurvedic medicine.jpg" class="card-img-top h-100" style="width:500px" alt="...">
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                 <h5 class="card-title text-success">RAM Arogya</h5>
            <p class="card-text text-primary"><i> Address: G5MF+RW4, Suvarna Nagaar, Buldana, Maharashtra 443001
Hours: 
Closed ⋅ Opens 8:30AM Sat
</i></p>
            <p class="card-text text-danger">RAM Arogya is  Ayurvedic Medicine Distributors, Ayurvedic Medicine Wholesalers-Baidyanath, Ayurvedic Pain Relief Roll On Dealers, Ayurvedic Medicine Retailers For Joint Pain and much more. Ayurveda is heavily practiced in India and Nepal, where around 80% of the population report using it.</p>
             <!--    <a href="#" class="btn btn-primary stretched-link">View Profile</a> -->
            </div>
        </div>
    </div>
</div>

<div class="card" style="max-width: 1500px;color:maroon;">
    <div class="row no-gutters">
       
        <div class="col-sm-8">
            <div class="card-body">
           <h5 class="card-title text-success">Nayar Ayurveda</h5>
            <p class="card-text text-primary"><i> Address: 100 feet road jalgaon Maharashtra 410225
Hours: 
Closed ⋅ Opens 8:30AM Sat
</i></p>
            <p class="card-text text-danger">Nayar Ayurveda provides Ayurvedic Pain Relief Roll On Dealers, Ayurvedic Medicine Retailers For Joint Pain and much more. Find Address, Contact Number, Reviews & Ratings, Photos, Maps The main classical Ayurveda texts begin with accounts of the transmission of medical knowledge from the gods to sages, and then to human physicians.</p>
             <!--    <a href="#" class="btn btn-primary stretched-link">View Profile</a> -->
            </div>
        </div>
         <div class="col-sm-4" style="background: #868e96;">
            <img src="./img/2-ayurvedic-medicine.jpg" class="card-img-top h-100" style="width:500px" alt="...">
        </div>
    </div>
</div>


</body>
</html>