<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Telemedicine Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body style="background-color:powderblue;">
     <a th:href="@{/}">Homepage</a><hr><hr><hr><hr>
    <div class="container text-center">
        <h3>Your Ordered Successfully!</h3>
         <h2>Thank you for Visiting!!!!!!!! <br> 
         !!Stay Home Stay Safe!! </h2>
         
         
    </div>
     
</body>
</html>